.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.float-right{
  float: right;
}
.btn-actions button{
  margin: 0 10px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App {
  text-align: center;
  font-family: 'Trebuchet MS', sans-serif;
  background-color: #ecf1ee;
  color:#808080;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/** Global */
.white-box {
  margin-top: 12px;
  background-color: #fff;

}

.white-box .title {
  font-size: 14px;
  text-align: left;
  background: #31a992;
  padding: 8px 12px;
}

.white-box .title p {
  margin-bottom: 0;
  color:#fff;
}

.white-box .content {
  margin-top: 12px;
  
  padding: 8px 12px;
}
.flex-container {
  display: flex;

}
.white-box .additional-information{
  margin-top: 12px;
  border-top: 1px solid #31a992;
  padding-top: 12px;
  text-align: left;
}
.white-box .additional-information.action{
  text-align: center;
}
.btn-primary{
  background-color:#04375b !important;
  font-size: 14px !important;
  border-radius: 0 !important;
  border: 0 !important;
  color: white;
  margin-top: 8px;
  padding: 6px 8px; 
  
}



/** Header */
.header-container {
  height: 50px;
  background-color: #fff;
}

.header-container .logo img {
  float: left;
}

.nav-container {
  font-size: 14px;
}

.nav-container a {
  color: #808080;
  padding: 14px 12px
}

.nav-container a.active {
  color: #22345d;
  border-bottom: 3px solid #22345d;
  padding-bottom: 12px;
}

.profile-container {
  float: right;
}
.profile-container ul{
  margin-bottom: 0;
  margin-top: 5px;
}
.profile-container li {
  display: table-cell;
  padding: 8px 8px
}
.profile-container img{
  width: 18px;
}
.profile-container .logout {
  width: 14px;
}

/** AcademicInformation */
.profile-picture img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.information{
  text-align: left;
  align-self: center;
  margin-left: 12px;
}
.information {
  font-size: 14px;
}
.information .name{
  font-weight: 700;
  font-size: 18px;
  color:#000;
}


.attendance-history-container,
.academic-information-container{
  height: 302px;
  overflow: hidden;
}
.upcoming-sessions-container{
  height: 352px;
}

.additional-information img{
  width: 18px;
  margin-right: 12px;
}
.additional-information .email{
  color: #31a992;
  font-size: 14px;
}

/**AttendanceHistory */
.chart{
  height: 173px;
}

.additional-information p{
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
}
.additional-information p.date{
  color: #31a992;
  font-size: 12px;
}

/** Upcoming Sessions */
.session-table-container th,
.session-table-container td{
  font-size: 12px;
}
.subjects-table-container th,
.subjects-table-container td{
  font-size: 12px;
}
.subjects-table-container tr td{
  cursor: pointer;
  
}
.subjects-table-container tr td.select{
  text-align: center
}
.subjects-table-container tr td.select img{
  width: 14px;
}
.subjects-table-container tr.selected td,
.subjects-table-container tr.selected th{
  background:#31a992;
  color:#fff;
  font-weight: 400;
  font-size: 12px;
} 

.subjects-table-container .go-back{
  color: #31a992;
  font-size: 12px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #ddd;
  padding: 8px;
  display: inline-block;
  margin-bottom: 12px;
}
.subjects-table-container .go-back img{
  margin-top: -2px;
  width: 10px;
  margin-right: 8px;
}

.subjects-table-container .question-area{
  
  font-size: 12px;
  border-radius: 0;
}

/** Recently Asked Questions */
.recent-asked-container{
  height: 249px;
}
.recent-asked-container .content{
  padding: 0;
  margin-top: 0;
  padding-left: 12px;
  text-align: left;
  height: 211px;
  overflow-y: scroll;
}
.recent-asked-container .content .question-answer-container{
  margin-top: 8px;
}
.recent-asked-container .content .question-answer-container .question{
  font-weight: 700;
  color: #000;
  margin-bottom: 0;
}
.recent-asked-container .content .question-answer-container .answer{
  padding-left: 8px;
  font-size: 14px;
}
.ask-a-question-container,
.reserve-study-container{
  height: 93px;
  padding: 12px;
}
.ask-a-question-container h3,
.reserve-study-container h3{
  font-size: 18px;
  color:#000

}
.filter-input{
  font-size: 12px !important;
  border-radius: 0 !important;
}

.white-box .content.faq-content{
  padding: 12px 80px;
  padding-bottom: 30px;
  text-align: left;
}

/** Footer */
.footer-container{
  margin-top: 30px;
  height: 250px;
  background-color: #31a992;
  padding-top: 30px;
  color:#fff;
}
.footer-container .flex-container{
  justify-content: space-between;
}
.footer-item-container{
  padding: 0px 8px;
  text-align: left;
  flex: 1;
}

.footer-item-container.footer-logo{
  align-self: center;
  text-align: center;
}
.footer-item-container h4{
  font-weight: 700;
  font-size: 18px;
}
.footer-item-container p{
  font-weight: 400;
  font-size: 14px;
}
.footer-container .socal-medias{
  margin-top: 24px;
}
.footer-container .socal-medias ul li{
  display: table-cell;

  padding-right: 32px;
}

/* .LogContainer {
  border: 6px solid black;
  margin-top: 2vh;
  background-color: #04AA6D;
   width: 30vw;
  height: 40vh;
  justify-content: center;
} */


.Content{
  height: 100vh;
  display: flex;
  justify-content: center; /*Horizontally center the container*/
  align-items: center;
  /*Vertically center the container */
}

.Log{
  text-align: center;
  margin-top: 5px;
}

/** Tutor Dashboard */
/** Tutot Upcoming Sessions */
.tutorupcoming-sessions-container{
  height: 302px;
}
/* Questions to be Answered */

.questionstobeanswered-container {
  height: 350px;
  overflow: hidden;
}

.questionstobeanswered-content {
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.centered-container {
  margin-bottom: 20px; 
}

.session-selection-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center;
  margin-top: 10px;
  border: 1px solid #ddd; 
  padding: 20px;
  width: 450px; 
  height: 175px; 
}

.session-selection-container label {
  font-size: 25px; 
  margin-bottom: 15px; /* Add space between label and dropdown */
}

.session-selection-container select {
  margin-bottom: 15px; /* Add space between dropdown and button */
}

.session-selection-container button {
  margin-top: 6px; /* Add space above the button */
}

.header {
  font-size: 12px;
  text-align: center;
  margin-top: 35px;
}

/* Questions Dialog */

.questions-dialog {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: #fff;
  border: 1px solid #31a992;
  border-radius: 5px;
  width: 1000px;
  z-index: 1000;
}

.questions-dialog-header {
  background-color: #31a992;
  color: #fff;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 14px;
}

.questions-dialog table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.questions-dialog th,
.questions-dialog td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.questions-dialog .button-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
/** Recently Answered Questions */
.recent-answered-container {
  height: 350px;
  overflow: hidden; 
}

.recent-answered-container .content {
  padding: 0;
  margin-top: 0;
  padding-left: 12px;
  text-align: left;
  height: 100%; 
  overflow-y: scroll; 
}

.recent-answered-container .content ol {
  list-style-type: decimal;
  padding-left: 20px;
  margin-top: 8px;
  font-size: 14px;
  color: #000;
  line-height: 1.5;
}

/** SelectAvailability */
.selectavailability-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.selectavailability-content {
  display: flex;
  flex: 1;
}

.form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  box-sizing: border-box;
  position: relative;
  width: 50%; /* Set width to 50% */
}

.form-group {
  display: flex;
  flex-direction: column;
}
.form-group label {
  display: inline-block;
  width: 0 0 100px; 
  text-align: left;
  margin-bottom: 5px; 
}
.button-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

/* Add a vertical line to separate form and table */
.form-container::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 1px;
  background-color: #ddd; /* Line color */
  margin-right: 10px;
}

.table-container {
  flex: 1;
  box-sizing: border-box;
  padding-left: 20px;
  width: 50%; /* Set width to 50% */
  overflow-y: auto; /* Add vertical scrollbar */
  max-height: 200px;
}
.table-container th,
.table-container td{
  font-size: 12px;
}

/* Table styling */
table {
  width: 100%;
  border-collapse: separate;
  margin-top: 10px;
  margin-bottom: 12px;
  font-size: 12px;
  padding: 8px;
  border: 1px solid #ddd;
}

th, td {
  border: 1px solid #dddd; /* Border for all sides of cells */
  padding: 12px;
  text-align: centered;
}

th {
  color: #000;
}
th, td {
  border-top: 1px solid #dddd;
  border-bottom: 1px solid #dddd;
  border-left: 1px solid #dddd;
  border-right: 1px solid #dddd;
}
/* EditDialog styling */
.edit-dialog {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: #fff;
  border: 1px solid #31a992;
  border-radius: 5px;
  width: 400px; /* Adjust the width as needed */
}

.edit-dialog-header {
  background-color: #31a992;
  color: #fff;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 14px;
}

.edit-dialog .form-group {
  margin-bottom: 15px;
}

.edit-dialog .button-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
